.horizontal_slider {
    width: 100%;
    max-width: 500px;
    height: 100vh;
    margin: auto;
  }
  
  .example_thumb {
    cursor: pointer;
    position: absolute;
    z-index: 100;
    background: #0000ff;
    border: 5px solid #3774ff;
    border-radius: 100%;
    display: block;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
  }
  
  .example_thumb.active {
    background-color: grey;
  }
  
  .example_track {
    position: relative;
    background: rgb(205, 6, 6);
  }
  
  .example_track.example-track-0 {
    background: #0446e2;
  }
  
  .horizontal_slider .example-track {
    top: 20px;
    height: 4px;
  }
  
  .horizontal_slider .example-thumb {
    top: 12px;
    width: 10px;
    outline: none;
    height: 10px;
    line-height: 38px;
  }
  