.sliderFilterBox {
  position: fixed;
  left: 4rem;
  top: 5rem;
  bottom: 10%;
  max-width: 30%;
}
.sliderBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1rem;
  justify-content: left;
  justify-items: center;
  align-items: center;
}
.featureSlider1,
.featureSlider2,
.featureSlider3 {
  margin-bottom: 2rem;
}
